@font-face {
  font-family: 'CircularSpotify';
  src: url(../fonts/CircularSpotifyText-Black.otf);
  src: url(../fonts/CircularSpotifyText-Light.otf);
  src: url(../fonts/CircularSpotifyText-Medium.otf);
}