body{
  background: linear-gradient(214deg, rgba(18,18,18,1) 0%, rgba(52,52,52,1) 100%);
  margin: 0;
}
#home-container{
  background-image: url('../assets/chill_background.gif');
}

#login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  #login-title{
    font-family: 'CircularSpotify';
    font-size: 7rem;
    color: white;
    animation: fadeIn 6s;
    @keyframes fadeIn{
      0% { opacity: 0;}
      100% { opacity: 100;}
    }
  }
  #login-button{
    width: 200px;
    height: 40px;
    font-size: 1rem;
    background-color: #5fcd5e;
    border: none;
    border-radius: 5px;
  }
  .login-atag{
    text-decoration: none;
    color: white;
    :visited, :active{
      text-decoration: none;
    }
  }
}

#button-container{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 50px;
  
  #signout-button{
    font-family: 'CircularSpotify';
    margin-right: 2rem;
    width: 100px;
    height: 70%;
    font-size: 1rem;
    background-color: #5fcd5e;
    border: none;
    border-radius: 5px;
  }
}

#center-display-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;

}

#searchbar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#song-search{
  width: 500px;
  height: 40px;
  margin-bottom: 0;
  #searchbar{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    outline: none;
    border-radius: 5px;
  }
}

.song-search-item-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  background-color: #121212;
  max-height: 400px;
  p{
    font-family: 'CircularSpotify';
    margin: 10px 0 ;
    margin-left: 10px;
    color: white;
  }
  #song-item{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 5px 0;
    margin-left: 5px;
  }
}

#song-item:hover{
  cursor: pointer;
}

#today-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  h1{
    color: white;
    font-family: 'CircularSpotify';
    margin: .5rem 0;
  }
}

#spotify-player-container{
  width: 100%;
  bottom: 0;
  position: absolute;

}